{% extends 'base.html' %}

{% load static %}
<!-- Additional CSS or other template-specific tags can go here -->

{% block content %}
  

<form class="d-flex">
  <div class="heads"> <i class="fa-solid fa-magnifying-glass" style="color:#fff"></i>
    <button class="btn btn-primarylogin" type="button">Login</button>
    <select id="" class="" name="day1">
      <option selected="" value="Monday">Sign up </option>
    </select>
  </div>
</form>
</div>
</div>
</nav>
<div class="head-contact">
<div class="hero-container">
<h1>Contact Us</h1>
</div>
</div>
<div class="contactp">
<div class="container">
<div class="row">
<div class="col-md-5"><img class="img-fluid" src="{% static 'assets/img/chair.png' %}"></div>
<div class="col-md-7">
<div class="card-body">
                      
                              
                              <div class="form-row get">
                                    <div class="form-group col-md-12">

                <h1>Get In Touch</h1>
                <small>Use the form below to drop us an email.</small><br>
                                      <label for="inputEmail4">Name<small>(require)<small></label>
                                      <input type="text" class="form-control" id="inputEmail4" placeholder="">
                                    </div>
                                    <div class="form-group col-md-12">
                                      <label for="inputEmail4">Email<small>(require)<small></label>
                                      <input type="text" class="form-control" id="inputEmail4" placeholder="">
                                    </div>
                <div class="form-group col-md-12">
               <form action="/action_page.php">
<p><label for="w3review">Message<small>(require)<small></label></p>
<textarea id="w3review" name="w3review" rows="8"></textarea>
<br>
<div id="btn2">
        <button type="submit" class="btn btn-primary btn-block mb-3">SEND</button>
      </div>
</form>
                </div>
                                  </div>
                    
                          </div>
</div>
</div>
</div>

</div>

</div>
</div>
</div>
</div>
</div>
</div>
<div class="maps">
<div class="container">
<div class="row">
<div class="embed-responsive embed-responsive-100x400px">
<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d35818.719732048536!2d-4.25169!3d55.868392!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x488815562056ceeb%3A0x71e683b805ef511e!2sGlasgow%2C+Glasgow+City%2C+UK!5e0!3m2!1sen!2sus!4v1448625188752" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
{% endblock %}
