{% extends 'base.html' %}

{% load static %}
<!-- Additional CSS or other template-specific tags can go here -->

{% block content %}
  
<div class="head-top">
    <div class="hero-container">
      <h1>Our Services</h1>
    </div>
  </div>
  <div class="container">
   <div class="menutxt">
      <h1 class="text-center">The Menu</h1></div>
    <div id="menu">
   
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Classic Cut</div>
            <div id="price1">£50</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Relax while your barber achieves your tailored look. If you’re looking for a bald fade or if your hair is currently longer than earlobe length please book from our other options.</div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Skin Fade</div>
            <div id="price1">£40</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Also known as a bald fade or a zero fade, this service requires a little extra time. Hair is faded from skin or “0” length to your desired length on top.</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Cut & Beard</div>
            <div id="price1">£60</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Combination of a classic cut and beard/mustache shaping.</div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Skin Fade & Beard Trim</div>
            <div id="price1">£80</div></div>
             <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Relax while your barber achieves your tailored look. If you’re looking for a bald fade or if your hair is currently longer than earlobe length please book from our other options.</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Long Cut</div>
            <div id="price1">£50</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">If your hair is currently past your earlobes, this is the service for you; whether you’re keeping your long locks or chopping them off for a new look.</div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Beard Trim</div>
            <div id="price1">£60</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Let your barber apply their artistry to help you create the perfectly shaped beard or mustache style you envision.</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Cut & Shave</div>
            <div id="price1">£50</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Classic combination of both a full service haircut and hot towel shave.</div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Shave</div>
            <div id="price1">£60</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Experience a traditional hot towel shave with a straight razor and warm shaving cream that will leave your face smooth to the touch.</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Buzz</div>
            <div id="price1">£40</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Ask for a buzz cut if you're looking for a no-nonsense low maintenance look at a uniform length as close as you'd like.</div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic">Buzz & Beard Trim</div>
            <div id="price1">£60</div></div>
            <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="classic2">Combination of single length buzz cut and beard/mustache shaping.
  </div>
          </div>
        </div>
      </div>
    </div>
    
    <div id="btn"><button type="submit" class="btn btn-primary btn-block mb-3">Book Now</button></div>
  </div>
  </div>
{% endblock %}
